<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!--<add name="AGVDBconn" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AGVTest;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False"/>-->
		<!--<add name="AGVDBconn" connectionString="Data Source=SEIBU00;Initial Catalog=AGVMS;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=False"/>-->
		<add name="AGVDBconn" connectionString="Data Source=10.20.5.166;Initial Catalog=AGVMS;Persist Security Info=True;User ID=sa;Password=Vp!9711300@iC" providerName="System.Data.sqlClient"/>
		<!--<add name="AGVDBconn" connectionString="Data Source=IT03\SQLEXPRESS;Initial Catalog=AGVMS;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.sqlClient"/>-->
	</connectionStrings>
	<appSettings>
		<add key="SystemName" value="VPIC AGV Management System"/>
		<add key="SystemShortName" value="AGVMS"/>
		<add key="SystemVersion" value="ver : 1.0.5" />		
	</appSettings>
</configuration>